main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main h1 {
    font-size: 5vh;
    font-family: 'chewy',cursive;
    text-align: center;
    margin: 20px 0;
}


main .filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    background-color: rgba(122, 122, 122, 0.479);
    border-radius: 10px;
    color: white;
}

main .filter-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 40%;
    margin: 10px;
}

main .filter-container div label{
    font-size: 2vh;
    font-family: 'chewy',cursive;
    margin: 10px;
}

main .filter-container div input{
    font-size: 2vh;
    font-family: 'chewy',cursive;
    margin: 10px;
    border-style: none none solid none;
    width: 100%;
}

main .filter-container div select{
    font-size: 2vh;
    font-family: 'chewy',cursive;
    margin: 10px;
    border-style: none none solid none;
}

main .filter-container div option{
    font-size: 2vh;
    font-family: 'chewy',cursive;
    margin: 10px;
}

main .filter-container #submit {
    font-size: 2vh;
    font-family: 'chewy',cursive;
    border-color: transparent;
    border-radius: 10px;
    margin: 10px;
    background-color: yellow;
}

main article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5%;
}

main .map-container {
    background-color: rgba(122, 122, 122, 0.479);
    height: 70vh;
    width: 50%;
}

main article .map-container #map{
    position: absolute;
    /* background-color: blueviolet; */
    height: 70vh;
    width: 50%;
    z-index: 1;

}

main .info-container{
    display: flex;
    flex-direction: column;

    width: 40%;
    margin-top: 20px;
    background-color: rgba(122, 122, 122, 0.479);
    height: 70vh;
    overflow-y: auto;
}

main ul li{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    padding: 10px;
    padding-left: 50px;
    margin: 10px;
    background-color: rgba(122, 122, 122, 0.89);
}

main ul li:hover {
    background-color: rgba(122, 122, 122, 0.79);
    cursor: pointer;
}

main ul li .icon {
    background-color: white;
    border-radius: 100rem;
    padding: 10px;

}

main ul li .icon span{
    font-size: 100px !important;
}

main ul li .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 50px;

}

.selected {
    border : 5px solid yellow;
}

.hidden{
    display: none;
}

@media screen and (max-width: 768px) {
    main .filter-container{
        flex-direction: column;
    }
    main article {
        flex-direction: column-reverse;
    }

    main article .info-container{
        width: 100%;
    }

    main article .map-container{
        width: 100%;
        margin-top: 30px;
    }

    main article .map-container #map{
        width: 90%;
    }
}